<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>John Adams</string>
		<key>Title</key>
		<string>2nd President of the U.S</string>
		<key>Years</key>
		<string>1781-1801</string>
		<key>Spouse</key>
		<string>Abigail Smith</string>
		<key>Party</key>
		<string>Federalist</string>
		<key>Image-cell</key>
		<string>JAdams_cell.jpg</string>
		<key>Image</key>
		<string>JAdams.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Benjamin Franklin</string>
		<key>Title</key>
		<string>6th president of Pennsylvania</string>
		<key>Years</key>
		<string>1785-1788</string>
		<key>Spouse</key>
		<string>Deborah Read</string>
		<key>Party</key>
		<string>Independent</string>
		<key>Image-cell</key>
		<string>BFranklin_cell.jpg</string>
		<key>Image</key>
		<string>BFranklin.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Alexander Hamilton</string>
		<key>Title</key>
		<string>1st US Secretary of Treasury</string>
		<key>Years</key>
		<string>1789-1795</string>
		<key>Spouse</key>
		<string>Elizabeth Hamilton</string>
		<key>Party</key>
		<string>Federalist</string>
		<key>Image-cell</key>
		<string>AHamilton_cell.jpg</string>
		<key>Image</key>
		<string>AHamilton.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>John Jay</string>
		<key>Title</key>
		<string>2nd Governor of New York</string>
		<key>Years</key>
		<string>1795-1801</string>
		<key>Spouse</key>
		<string>Sarah Livingston</string>
		<key>Party</key>
		<string>Federalist</string>
		<key>Image-cell</key>
		<string>JJay_cell.jpg</string>
		<key>Image</key>
		<string>JJay.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Thomas Jefferson</string>
		<key>Title</key>
		<string>3rd president of the U.S</string>
		<key>Years</key>
		<string>1801-1809</string>
		<key>Spouse</key>
		<string>Martha Wayles</string>
		<key>Party</key>
		<string>Democratic-Republican</string>
		<key>Image-cell</key>
		<string>TJefferson_cell.jpg</string>
		<key>Image</key>
		<string>TJefferson.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>James Madison</string>
		<key>Title</key>
		<string>4th president of the U.S</string>
		<key>Years</key>
		<string>1809-1817</string>
		<key>Spouse</key>
		<string>Dolley Todd</string>
		<key>Party</key>
		<string>Democratic-Republican</string>
		<key>Image-cell</key>
		<string>JMadison_cell.jpg</string>
		<key>Image</key>
		<string>JMadison.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>George Washington</string>
		<key>Title</key>
		<string>1st President of the U.S</string>
		<key>Years</key>
		<string>1789-1797</string>
		<key>Spouse</key>
		<string>Martha Custis</string>
		<key>Party</key>
		<string>Independent</string>
		<key>Image-cell</key>
		<string>GWashington_cell.jpg</string>
		<key>Image</key>
		<string>GWashington.jpg</string>
	</dict>
</array>
</plist>
